.star {
    height: 50px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}
.board {
    height: 95vh;
}
.cardTitle{
    display: flex;
    justify-content: space-between;
}
.addlist {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}
.input {
    height: 40px;
    border-radius: 10px;
}
.lists{
    display: flex;
    gap:1rem;
    overflow-x: scroll;
    height: 75vh;   

}

.bin{
    width:25px;
    height: 25px;
}