.input {
    height: 40px;
    border-radius:10px ;
    margin:.5rem;
}
.btn {
    margin:0 .5rem;
}
.card{
    display:flex;
    justify-content: space-between;
}
.cardName {
    border: 1px solid rgb(165, 161, 161);
    padding: 0 10px;
    border-radius: 10px;
}
.link {
    text-decoration: none;
}
