.list {
    text-align: left;
    margin: 0 30%;
    border:1px solid rgb(238, 231, 231);
    padding: 1rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    overflow: hidden;
    background-color: rgb(186, 232, 194);
}
.listhead {
    display: flex;
    justify-content: space-between;
    background-color: rgb(168, 168, 213);
}
.listBtn {
    width:20px
    
}
.checkItem {
    text-decoration-line: line-through;
    text-decoration-color:rgb(6, 227, 6) ;
}
.checkItems {
    background-color: rgb(192, 233, 233);
    padding:0 1rem;
}
.checkAlign{
    display:flex;
    justify-content: space-between;
}