.input {
     height: 30px;
     border-radius: 10px;
     margin-bottom: 1rem;
}
.btn {
    padding: .5rem;
    border-radius: 10px;
    background-color: aqua;
}
.board {
    
    height: 20vh;
    width: 30vh;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-radius: 10px;
    object-fit: cover;
}
.boards {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    gap:1rem;
     
}
.Link {
    text-decoration: none;
    color: black;
}